<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--   <add name="HospitalConnectionString" connectionString="workstation id=nfcHospital.mssql.somee.com;packet size=4096;user id=tongtnp012_SQLLogin_1;pwd=16inyljyfb;data source=nfcHospital.mssql.somee.com;persist security info=False;initial catalog=nfcHospital" providerName="System.Data.SqlClient"/> -->
    <add name="HospitalConnectionString" connectionString="Data Source=DESKTOP-JCCCHB0;Initial Catalog=Hospital;User ID=sa;Password=1234" /> 
  </connectionStrings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Managepatient.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
<!--ProjectGuid: 2eacb770-4d17-4bb1-9a18-486c4a9f6043-->